<p id="notice"><%= notice %></p>

<div class="page-header">
  <h4>登録済みの学校一覧 [ 完了 ： <%= @done_school_count %>校 / <%= @all_school_count %>校 ]</h4>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>学校名（学校名をクリックして編集）</th>
      <th>学校URL</th>
      <th>確認済</th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= link_to school.name, edit_school_path(school) %></td>
        <td><%= link_to school.url, school.url, :target=>["_blank"] %></td>
        <td><%= school.done_flg %></td>
      </tr>
    <% end %>
  </tbody>
</table>
